#w_head{
    .head-main{
        height:100px;
        background:#ddd;
        border-bottom: solid 2px #7e0001;
        margin-bottom: 20px;
        .head-logo{
            float:left;
            display: inline;
            height:100px;
            width: 160px;
            background-size: contain;
            text-indent: -10000px;
            background:url(../img/logo2.png) no-repeat;
           
        }
        .crumbCart{
            width: 479px;
            float: right;
            height: 39px;
            margin: 30px 0;
            background: url(//img12.yesmyimg.com/newWeb/images/cart/cart_step.png) no-repeat;
            text-indent: -999px;
            overflow: hidden;
        }
        
    }
}

#w_warp{
    display: block;
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
    background: #fff;
    padding-bottom: 20px;
    min-height: 300px;
    .listcar{
        float:left;
        position:relative;
        // border: 5px solid #e7e7e7;
        h1{

        }

        ul{
            float:left;
            li{
                float: left;
                width:1200px;
                margin: 5px 0 15px;
                display: inline;
                .radio {
                    padding: 0;
                    padding: 5px;
                    height: 30px;
                    border-bottom: 2px solid #e0dad8;
                    background-color: #f1eeeb;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 30px;
                    .dd_sp_num {
                        position: relative;
                        float: right;
                        display: block;
                        margin-top: 7px;
                        width: 70px;
                        height: 17px;
                        background: url(//img12.yesmyimg.com/newWeb/images/cart/cart_icon.png?V20150519) 0 -86px no-repeat;
                        color: #fff;
                        text-align: center;
                        font-weight: normal;
                        line-height: 17px;
                        cursor: pointer;
                    }
                }
                .top{
                    float:left;
                    .boxBorRed {
                        border-top: 2px solid #85726c;
                        .trTitle {
                            position: relative;
                            z-index: 51;
                            table {
                                background-color: #f1eeeb;
                                td {
                                    padding: 0 5px;
                                    text-align: center;
                                }
                            }
                        }

                        .marginTop {
                            position: relative;
                            z-index: 52;
                            float: left;
                            display: inline;
                            margin-top: -1px;
                            padding: 0;
                            background-color: #fff;
                            table.inTable {
                                float: left;
                                width: 960px;
                                font-family: Arial;
                            }
                        }

                        .trFooter {
                            position: relative;
                            z-index: 49;
                            float: left;
                            display: inline;
                            border-top: 1px dotted #9e9694;
                            background-color: #f1eeeb;

                            ul {
                                padding: 15px;
                                width: 1168px;
                                border: 1px solid #ccc;
                                li {
                                    float: left;
                                    margin: 0;
                                    padding: 0 15px 0 5px;
                                    width: auto;
                                    height: 40px;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                }
            }
            li.last {
                padding: 10px 0;
                border-bottom: 2px solid #e0dad8;
                text-align: right;
                span {
                    padding-left: 25px;
                    color: #666;
                    b {
                        color: #d63939;
                        font: normal bold 14px Arial;
                    }
                }
            }

            li.buy {
                padding-top: 5px;
            }
        }
    }
}