#w_head .head-main {
  height: 100px;
  background: #ddd;
  border-bottom: solid 2px #7e0001;
  margin-bottom: 20px;
}

#w_head .head-main .head-logo {
  float: left;
  display: inline;
  height: 100px;
  width: 160px;
  background-size: contain;
  text-indent: -10000px;
  background: url(../img/logo2.png) no-repeat;
}

#w_head .head-main .crumbCart {
  width: 479px;
  float: right;
  height: 39px;
  margin: 30px 0;
  background: url(//img12.yesmyimg.com/newWeb/images/cart/cart_step.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
}

#w_warp {
  display: block;
  margin: 0px;
  padding: 0px;
  min-width: 1200px;
  background: #fff;
  padding-bottom: 20px;
  min-height: 300px;
}

#w_warp .listcar {
  float: left;
  position: relative;
}

#w_warp .listcar ul {
  float: left;
}

#w_warp .listcar ul li {
  float: left;
  width: 1200px;
  margin: 5px 0 15px;
  display: inline;
}

#w_warp .listcar ul li .radio {
  padding: 0;
  padding: 5px;
  height: 30px;
  border-bottom: 2px solid #e0dad8;
  background-color: #f1eeeb;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

#w_warp .listcar ul li .radio .dd_sp_num {
  position: relative;
  float: right;
  display: block;
  margin-top: 7px;
  width: 70px;
  height: 17px;
  background: url(//img12.yesmyimg.com/newWeb/images/cart/cart_icon.png?V20150519) 0 -86px no-repeat;
  color: #fff;
  text-align: center;
  font-weight: normal;
  line-height: 17px;
  cursor: pointer;
}

#w_warp .listcar ul li .top {
  float: left;
}

#w_warp .listcar ul li .top .boxBorRed {
  border-top: 2px solid #85726c;
}

#w_warp .listcar ul li .top .boxBorRed .trTitle {
  position: relative;
  z-index: 51;
}

#w_warp .listcar ul li .top .boxBorRed .trTitle table {
  background-color: #f1eeeb;
}

#w_warp .listcar ul li .top .boxBorRed .trTitle table td {
  padding: 0 5px;
  text-align: center;
}

#w_warp .listcar ul li .top .boxBorRed .marginTop {
  position: relative;
  z-index: 52;
  float: left;
  display: inline;
  margin-top: -1px;
  padding: 0;
  background-color: #fff;
}

#w_warp .listcar ul li .top .boxBorRed .marginTop table.inTable {
  float: left;
  width: 960px;
  font-family: Arial;
}

#w_warp .listcar ul li .top .boxBorRed .trFooter {
  position: relative;
  z-index: 49;
  float: left;
  display: inline;
  border-top: 1px dotted #9e9694;
  background-color: #f1eeeb;
}

#w_warp .listcar ul li .top .boxBorRed .trFooter ul {
  padding: 15px;
  width: 1168px;
  border: 1px solid #ccc;
}

#w_warp .listcar ul li .top .boxBorRed .trFooter ul li {
  float: left;
  margin: 0;
  padding: 0 15px 0 5px;
  width: auto;
  height: 40px;
  line-height: 40px;
}

#w_warp .listcar ul li.last {
  padding: 10px 0;
  border-bottom: 2px solid #e0dad8;
  text-align: right;
}

#w_warp .listcar ul li.last span {
  padding-left: 25px;
  color: #666;
}

#w_warp .listcar ul li.last span b {
  color: #d63939;
  font: normal bold 14px Arial;
}

#w_warp .listcar ul li.buy {
  padding-top: 5px;
}
