.reg_head{
    overflow: hidden;
    border-bottom: 2px solid #BC0E31;
}
.reg_head .head_container{
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0px;
}
.reg_head h2{
    float:left;
}
.reg_head .right{
    float:right;
}
.main_container{
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
    width: 1200px;
    height: auto;
}
.reg_main .mod-login{
    overflow: hidden;
    padding: 20px 10px;
    width: 400px;
    border: 1px solid #d2d2ce;
    background: #f8f8f5;
}
.reg_main .mod-login h2{
    margin: 0 12px 18px 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2ce;
    text-align: left;
    font-size: 14px;
}
.reg_main .mod-login dl{
    padding: 7px 0;
    overflow: hidden;
}
.reg_main .mod-login dl dt{
    float: left;
    width: 90px;
    height: 38px;
    color: #363636;
    text-align: right;
    font-size: 14px;
    line-height: 38px;
}
.reg_main .mod-login dl dt dd{
    margin-left: 88px;
    line-height: 20px;
}
.reg_main .mod-login .txt-input{
    padding: 0 5px;
    width: 266px;
    height: 38px;
    color: #666;
    font-size: 12px;
    line-height: 38px;
    float: left;
    border:1px solid #ccc;
}
.reg_main .mod-login .txt-reg{
    padding: 0 5px;
    /*width: 266px;*/
    height: 38px;
    color: #666;
    font-size: 12px;
    line-height: 38px;
    float: left;
    border:1px solid #ccc;
}
.reg_main .mod-login .btn-style{
    background: #e3e3e3;
    color: #fff;
    margin-bottom: 2px;
}
.reg_main .mod-login dl #vip{
    position: relative;
    display: inline-block;
    margin: 8px 0 9px 88px;
    width: auto;
    height: 14px;
    line-height: 14px;
    margin-left: 80px;
}
.reg_main .mod-login #vip2{
    position: relative;
    display: block;
    margin-left: 88px;
    padding: 8px 0 13px 0;
    width: 290px;
    height: 28px;
    line-height: 14px;
}
.reg_main .mod-login .btn-register{
    display: block;
    margin-right: 0;
    margin-left: 10px;
    width: 355px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 0;
    background: #bb0e30;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.reg_main .mod-login-note {
    position: relative;
    overflow: hidden;
    width: 790px;
    height: 480px;
    background: url(../img/register_ads.jpg) no-repeat;
}
.reg_foot{
    float: left;
    height:140px;
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    border-top: solid 1px #ccc;
}
.reg_foot .foot-license{
    padding: 5px 0;
    color: #999;
    text-align: center;
    line-height: 20px;
}
.reg_foot .foot-copyright{
    color: #999;
    text-align: center;
    line-height: 30px;
}